@use "../../styles/scss/media";

.section-text {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px clamp(67px, 11vw, 167px);
    display: flex;
    align-items: center;
    justify-content: center;
    .wording-wrapp {
        height: max-content;
        margin-bottom: 20vh;
        .welcome-text {
            display: flex;
            flex-wrap: wrap;
            gap: 0 26px;
            position: relative;

            &:nth-child(2) {
                justify-content: end;
                @include media.ipad {
                    justify-content: start;
                }

                img {
                    @include media.mobile {
                        width: 80px;
                        height: auto;
                        position: absolute;
                        bottom: -50px;
                    }
                    @include media.ipad {
                        position: absolute;
                        right: 0;
                        bottom: -100px;
                    }
                }
            }

            .text-item {
                position: relative;
                font-size: clamp(30px, 10vw, 80px);
                letter-spacing: -4px;
                overflow: hidden;
            }
            .text-action {
                display: flex;
                gap: 0 14px;
                align-items: center;
                font-family: "HelveticaNeue-Light", sans-serif;
                font-size: 24px;
                font-weight: lighter;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 52px;
                    height: 52px;
                    padding: 14px 12px;
                    background-color: #212121;
                    border-radius: 50%;
                }
            }
            .text-secondLine {
                justify-self: end;
                max-width: 506px;
                font-size: 20px;
                letter-spacing: -1px;
                line-height: 150%;
            }
        }
    }
    .scrolldown-wrap {
        position: absolute;
        // center position
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        // center position
        bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            &:nth-child(2) {
                position: absolute;
            }
        }
    }
}
