@use "../../styles/scss/media";

#about {
    .team-name {
        font-size: 100px;
        letter-spacing: -1px;
        color: #000;
    }
    .team-desc{
        width: 525px;
        font-size: 20px;
        color: #5E5E5E;
    }

    .wrapper-main {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;

        @include media.mobile {
            height: 70vh;
        }
        .img-item {
            position: relative;
            width: auto;
            height: 100%;
            overflow: hidden;
            flex-shrink: 1;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .info {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                bottom: 35px;
                left: 0;
                .number {
                    font-family: "HelveticaNeue-Bold", sans-serif;
                    color: #fff;
                    font-size: 100px;
                    text-align: center;
                }
                .role {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 0 20px;
                    font-family: "HelveticaNeue-Light", sans-serif;
                    font-size: 16px;
                    color: #b0b0b0;
                    &::after {
                        content: "";
                        position: relative;
                        width: 167px;
                        height: 1px;
                        background-color: #b0b0b0;
                    }
                }
                .title {
                    font-family: "HelveticaNeue-Medium", sans-serif;
                    color: #f5f5f5;
                    font-size: 24px;
                }
                .desc {
                    width: 219px;
                    font-family: "HelveticaNeue-Light", sans-serif;
                    font-size: 12px;
                    color: #b0b0b0;
                }
            }

            &.active {
                .info {
                    left: 24px;
                    .number {
                        text-align: start;
                    }
                }
            }
        }
    }

    .about-wrapper__info{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        .about-info{
            width: 618px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            .title__info{
                text-align: center;
                font-size: 80px;
                letter-spacing: -5px;
                line-height: 100%;
                color: #000;
            }
            .desc__info{
                text-align: center;
                width: 478px;
                font-size: 20px;
                letter-spacing: -1px;
                color: #5E5E5E;
            }
            .show-more__about {
                @include media.mobile {
                    align-self: center;
                }
                @include media.ipad {
                    align-self: center;
                }
                width: max-content;
                padding: 8px 16px;
                border: 1px solid #000;
                border-radius: 52px;
                display: flex;
                align-items: center;
                gap: 0 14px;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #212121;
                }
            }
        }
    }
}
