@use "../../styles/scss/media";
#wp {
    .section-video__wp {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden; 

        iframe,
        video {
            width: 100%;
            height: max-content;
            aspect-ratio: 16/9;
            overflow: hidden;
            border: none;
            pointer-events: none;
        }
    }
    .section__wording {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            font-size: clamp(30px, 5vw, 64px);
            line-height: 1.2;
            letter-spacing: -3px;
            font-weight: 400;
            width: 50%;
            text-align: center;
            margin-bottom: 12px;
            @include media.ipad {
                width: 90%;
                letter-spacing: 0px;
            }
            @include media.mobile {
                width: 90%;
                letter-spacing: 0.5px;
            }
        }
        .desc {
            font-size: clamp(16px, 1.5vw, 24px);
            line-height: 1.2;
            letter-spacing: -1px;
            font-weight: 400;
            width: 50%;
            text-align: center;
            color: #5e5e5e;
            margin-bottom: 34px;
            @include media.ipad {
                letter-spacing: 0px;
            }
            @include media.mobile {
                letter-spacing: 0px;
            }
        }
        .animate-wording {
            position: relative;
            width: 246px;
            height: auto;
            @include media.mobile {
                width: 40%;
            }
            .img-gift {
                transform: rotate(-180deg);
                object-fit: contain;
                width: 100%;
                height: auto;
            }
            .star {
                position: absolute;
                // transform: translateY(1px) translateX(-33px);
                z-index: 2;
                @include media.mobile {
                    width: 40%;
                    height: auto;
                }
            }
            video {
                transform: rotate(-180deg);
                width: 100%;
                height: auto;
            }
        }
    }
    .section-about__wp {
        overflow: hidden;
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding-top: clamp(67px, 11vw, 100px);
        padding-bottom: 33px;
        display: flex;
        align-items: center;
        gap: 20px;

        .body__about {
            display: flex;
            @include media.mobile {
                flex-direction: column;
                gap: 20px;
            }
            @include media.ipad {
                flex-direction: column;
                gap: 20px;
            }
            .left-section__about {
                display: flex;
                flex-direction: column;
                gap: 60px 0;
                @include media.mobile {
                    gap: 20px 0;
                }
                @include media.ipad {
                    gap: 20px 0;
                }
                .headeline__about {
                    @include media.mobile {
                        align-self: center;
                    }
                    @include media.ipad {
                        align-self: center;
                    }
                    align-self: start;
                    position: relative;
                    font-size: clamp(50px, 10vw, 100px);
                    letter-spacing: -3px;
                    color: #000;
                    img {
                        width: clamp(50px, 10vw, 93px);
                        height: auto;
                    }
                }
                .wording__about {
                    @include media.mobile {
                        margin-right: 0;
                    }
                    @include media.ipad {
                        margin-right: 0;
                    }
                    margin-right: 104px;
                    p {
                        font-family: "HelveticaNeue-Light", sans-serif;
                        font-size: clamp(12px, 2vw, 18px);
                        letter-spacing: 1px;
                        margin-bottom: 18px;
                    }
                }
                .show-more__about {
                    @include media.mobile {
                        align-self: center;
                    }
                    @include media.ipad {
                        align-self: center;
                    }
                    width: max-content;
                    padding: 8px 16px;
                    border: 1px solid #000;
                    border-radius: 52px;
                    display: flex;
                    align-items: center;
                    gap: 0 14px;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-color: #212121;
                    }
                }
            }
            .card-container__img {
                position: relative;
                width: auto;
                height: auto;
                overflow: hidden;
                flex-shrink: 0;
                &::after {
                    content: "";
                    background: rgb(217, 217, 217);
                    background: linear-gradient(
                        200deg,
                        rgba(217, 217, 217, 0) 35%,
                        rgba(0, 0, 0, 0.896796218487395) 82%
                    );
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                }
                img {
                    width: clamp(300px, 40vw, 400px);
                    height: 100%;
                    position: relative;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: top center;
                }
                .detail__img {
                    position: absolute;
                    z-index: 2;
                    bottom: 36px;
                    left: 36px;
                    .card-name__img {
                        font-size: clamp(24px, 2vw, 34px);
                        color: #fff;
                    }
                    .card-role__img {
                        font-family: "HelveticaNeue-Light", sans-serif;
                        font-size: clamp(12px, 1vw, 18px);
                        color: #b0b0b0;
                    }
                }
            }
            .btn-container__slide {
                display: flex;
                justify-content: end;
                @include media.mobile {
                    justify-content: center;
                }
                @include media.ipad {
                    justify-content: center;
                }
                gap: 0 24px;
                margin-top: 20px;
                .slide-btn__about {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    &:first-child {
                        rotate: 180deg;
                    }
                }
            }
        }
    }
    .section-service__wp {
        min-height: 100vh;
        width: 100%;
        padding-left: clamp(2rem, 11vw, 170px);
        padding-bottom: 234px;
        overflow: hidden;
        background-color: #000a0f;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .titleWrapper {
            position: relative;
            padding-top: 55px;
            z-index: 2;
            width: 80%;
            height: auto;
            margin-bottom: 94px;
            .title {
                font-family: "HelveticaNeue-Regular", sans-serif;
                font-size: clamp(30px, 5vw, 48px);
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -1px;
                color: #989898;
                margin-bottom: 20px;
            }
            .desc {
                font-family: "HelveticaNeue-Regular", sans-serif;
                font-size: clamp(12px, 2vw, 18px);
                font-weight: 400;
                line-height: 100%;
                letter-spacing: -1px;
                color: #989898;
                width: 600px;

                @include media.mobile {
                    width: 100%;
                letter-spacing: 0px;
                }
                @include media.ipad {
                    width: 100%;
                letter-spacing: -0.2px;
                }
            }
        }
        &::after {
            content: "";
            background: rgba(7, 7, 7, 0.8);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .bg__service {
            filter: blur(20px);
            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 16/9;
            object-fit: cover;
            object-position: center center;
            width: 100%;
        }
        .navigation__service {
            z-index: 2;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 26px;
            justify-content: start;
            position: relative;
            .navlist {
                cursor: pointer;
                position: relative;
                font-family: "HelveticaNeue-Light", sans-serif;
                font-weight: 300;
                font-size: clamp(24px, 5vw, 68px);
                color: #fff;
                letter-spacing: 0;
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    transform: scaleX(0);
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    background-color: #fff;
                    transition: transform 0.5s ease-in-out;
                }
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
            .thumb__service {
                position: absolute;
                right: 25px;
                bottom: -50px;
                aspect-ratio: 9 / 16;
                object-fit: cover;
            }
        }
        .show-more__service {
            margin-top: 48px;
            position: relative;
            z-index: 2;
            width: max-content;
            flex-shrink: 0;
            padding: 13px 24px;
            border: 1px solid #fff;
            border-radius: 52px;
            display: flex;
            align-items: center;
            gap: 0 14px;
            color: #fff;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #212121;
            }
        }
    }
    .section__feedback {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 88px 0;
        padding-bottom: 20px;
        @include media.mobile {
            padding: 48px 2rem;
        }
        @include media.ipad {
            padding: 48px 2rem;
        }
        .section__title {
            font-size: clamp(30px, 5vw, 64px);
            line-height: 1.2;
            letter-spacing: -3px;
            font-weight: 400;
            width: 50%;
            text-align: center;
            margin-bottom: 32px;
            color: #000;
            @include media.mobile {
                letter-spacing: -0.2px;
                width: 70%;
            }
            @include media.ipad {
                width: 70%;
            }
        }
        .feedback__content {
            width: 726px;
            overflow: hidden;
            @include media.ipad {
                width: 100%;
            }
            @include media.mobile {
                width: 100%;
            }
            .feedback__slider {
                display: flex;
                margin-bottom: 60px;
                .feedback__item {
                    flex-shrink: 0;
                    width: 100%;
                    .feedback__desc {
                        font-family: "HelveticaNeue-Light", sans-serif;
                        font-size: clamp(18px, 1.7vw, 24px);
                        font-weight: lighter;
                        line-height: 150%;
                        letter-spacing: 1px;
                        color: #5e5e5e;
                        text-align: center;
                        margin-bottom: 24px;
                        @include media.mobile {
                            letter-spacing: 0px;
                        }
                        @include media.ipad {
                            letter-spacing: 0px;
                        }
                    }
                    .feedback__client {
                        font-family: "HelveticaNeue-Medium", sans-serif;
                        font-size: clamp(18px, 1.7vw, 24px);
                        font-weight: 500;
                        line-height: 150%;
                        letter-spacing: -1px;
                        color: #5e5e5e;
                        text-align: center;
                        margin-bottom: 24px;
                        @include media.mobile {
                            letter-spacing: 0px;
                        }
                        @include media.ipad {
                            letter-spacing: 0px;
                        }
                    }
                }
            }
            .indicator__wrapp {
                display: flex;
                width: 100%;
                justify-content: center;
                gap: 8px;
                .indicator {
                    width: 37px;
                    height: 2px;
                    background-color: #9d9d9d;
                    border-radius: 20px;
                    &.active {
                        background-color: #101010;
                    }
                }
            }
        }
    }
    .section__more-about {
        width: 100%;
        padding: 0 clamp(2rem, 8vw, 140px);
        padding-bottom: 201px;
        overflow: hidden;
        .content-one {
            height: 675px;
            width: 100%;
            display: flex;
            gap: 20px;
            .img__one {
                flex-shrink: 0;
                width: calc(70% - 20px);
                height: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .desc__one {
                width: calc(30% - 20px);
                font-size: clamp(18px, 1.5vw, 24px);
                font-weight: 400;
                color: #5E5E5E;
                letter-spacing: -0.5px;
                &::after{
                    content: "";
                    display: inline-block;
                    width: 123px;
                    height: 2px;
                    background-color: #5E5E5E;
                    margin-left: 20px;
                }
            }
            @include media.mobile{
                flex-direction: column;
                height: auto;
                .img__one{
                    width: 100%;
                    height: auto;
                    img{
                        height: auto;
                    }
                }
                .desc__one{
                    width: 100%;
                }
            }
            @include media.ipad{
                height: auto;
                .img__one{
                    height: auto;
                    img{
                        height: auto;
                    }
                }
                .desc__one{
                    width: 100%;
                }
            }
        }
        .content-two {
            height: 531px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            gap: 20px;
            .img__two {
                flex-shrink: 0;
                width: calc(30% - 20px);
                height: 100%;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .desc__two {
                font-size: clamp(24px, 3vw, 48px);
                font-weight: 400;
                color: #000;
                letter-spacing: -2px;
                width: calc(70% - 20px);
                &::after{
                    content: "";
                    display: inline-block;
                    width: 100px;
                    height: 2px;
                    background-color: #000;
                    margin-left: 20px;
                }
            }
            @include media.mobile{
                flex-direction: column-reverse;
                height: auto;
                .img__two{
                    width: 100%;
                    height: auto;
                    img{
                        height: auto;
                    }
                }
                .desc__two{
                    width: 100%;
                    letter-spacing: 0px;
                }
            }
            @include media.ipad{
                height: auto;
                .img__two{
                    height: auto;
                    img{
                        height: auto;
                    }
                }
                .desc__two{
                    width: 100%;
                }
            }
        }
    }
    .section-partner__wp {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 88px 0;
        .headeline__text {
            font-family: "HelveticaNeue-Regular", sans-serif;
            font-size: clamp(14px, 1.5vw, 18px);
            text-align: center;
            color: #5e5e5e;
        }
        .list__partner {
            width: 80%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 62px 32px;
            margin-top: 36px;
            justify-content: center;
            .item__partner {
                background-color: #f7f8f9;
                width: 261px;
                height: 146px;
                border-radius: 6px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 231px;
                    object-fit: contain;
                }
            }
        }
    }
}
